$main-color: #b282ff;
$darker-main-color: #8A42FF;
$shadow-color: #d9c2ff;
$accent-color: #E8FFC2;
$main-font: "Libre Bakersville";
$secondary-font: "Bebas Neue";
$mobile-width: 500px;


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    color: white;
  }

  .header-container {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .header-background-vid {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      object-fit: cover;
      z-index: -1;
  }

 .background-vid-overlay {
    min-width: 100%;
    min-height: 100%;
    margin: 0%;
    z-index: 1;
  
  }

  .main-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

  .main-banner-title {
    background-color: #4f5359;
    -webkit-box-shadow: 37px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 37px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 37px 8px 24px 0px rgba(66, 68, 90, 1);
    padding: 20px;
    border-radius:30% 30% 30% 30% / 30% 30% 30% 30%;
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .main-banner-text{
    text-align: center;
    background-color: #4f5359;
    -webkit-box-shadow: 37px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 37px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 37px 8px 24px 0px rgba(66, 68, 90, 1);
    border-radius:35% 35% 35% 35% / 35% 35% 35% 35%;
    padding: 20px;
    height: 15vw;
    width: 30vw;

  }